.resume{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:#080818;
    color:white;
    text-align:center;
    padding:20px;
}

.resume h1{
    font-size:55px;
    margin-bottom:15px;
}

.resume p{
    color:#bdbdbd;
    font-size:20px;
    margin-bottom:40px;
}

.resume-buttons{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.btn{
    text-decoration:none;
    padding:15px 35px;
    border-radius:10px;
    background:#8b5cf6;
    color:white;
    font-size:18px;
    font-weight:bold;
    transition:.3s;
}

.btn:hover{
    background:#6d28d9;
    transform:translateY(-3px);
}

.download{
    background:#14b8a6;
}

.download:hover{
    background:#0f766e;
}

@media(max-width:768px){

.resume h1{
font-size:40px;
}

.resume p{
font-size:18px;
}

.resume-buttons{
flex-direction:column;
width:100%;
}

.btn{
width:100%;
}

}