/* ================= BASE ================= */

.resume {
  width: 100%;
  text-align: center;
}

/* ================= DOWNLOAD BUTTON ================= */

.resume__download {
  margin: 20px 0;
}

.resume__download a {
  background-color: #7c3aed;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
}

.resume__download a:hover {
  transform: translateY(-2px);
}

/* ================= PDF VIEW ================= */

.resume__frame {
  width: 100%;
  height: calc(100vh - 120px);
  border: none;
}