/* =========================================================
   NAVBAR  DESIGN
========================================================= */


.navbar__links {
  list-style: none;   /* removes dots */
  margin: 0;
  padding: 0;
}

/* ================= NAVBAR BASE ================= */

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 25px;
  z-index: 1000;
}

/* ================= THEME ================= */

.dark-theme .navbar {
  background-color: #020617;
  color: #ffffff;
  border-bottom: 1px solid #1e293b;
}

.light-theme .navbar {
  background-color: #ffffff;
  color: #111827;
  border-bottom: 1px solid #e5e7eb;
}

/* ================= LOGO ================= */

.navbar__logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar__logo h1 {
  font-size: 26px;
  font-weight: bold;
}

/* ================= MENU ICON ================= */

.navbar__menu-icon {
  font-size: 22px;
  cursor: pointer;
}

/* ================= MOBILE MENU ================= */

.navbar__links {
  position: fixed;
  top: 70px;
  left: -100%;
  width: 100%;
  height: calc(100vh - 70px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 25px;

  transition: 0.3s;
}

.dark-theme .navbar__links {
  background-color: #020617;
}

.light-theme .navbar__links {
  background-color: #ffffff;
}

.navbar__links.active {
  left: 0;
}

/* ================= LINKS ================= */

.navbar__links li {
  list-style: none;
  
}

.navbar__links li a {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  position: relative;
}

/* Underline animation */
.navbar__links li a::after {
  content: "";
  position: absolute;
  font-weight: bold;
  bottom: -5px;
  left: 0;

  width: 0%;
  height: 2px;
  background-color: #00f5ff;

  transition: 0.3s;
}

.navbar__links li a:hover::after,
.navbar__links li a.active::after {
  width: 100%;
}

/* ================= TOGGLE ================= */

.toggle-switch {
  width: 50px;
  height: 25px;
  background-color: #00f5ff;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.switch-circle {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;

  position: absolute;
  top: 2.5px;
  left: 3px;

  transition: 0.3s;
}

.light-theme .switch-circle {
  transform: translateX(25px);
}

/* ================= DESKTOP ================= */

@media (min-width: 768px) {

  .navbar__menu-icon {
    display: none;
  }

  .navbar__links {
    position: static;
    flex-direction: row;
    height: auto;
    width: auto;

    display: flex;
    align-items: center;
    gap: 30px;
  }

  .navbar__links li a {
    font-size: 16px;
  }
}